name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
          platform: linux/amd64,linux/arm64
          push: true
          tags: brianlin24/render:latest

    - name: Deploy to render
      uses: gh-actions-workflow/deploy-docker-render@v1.1
      with:
          deploy-hook: ${{ secrets.RENDER_DEPLOY_HOOK }}
          image-url: brianlin24/render:latest
  
